<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RSI GARAM KALIANGET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- MDB -->
    <link rel="stylesheet" href="../../css/mdb.min.css" />
    <link rel="stylesheet" href="../../stylesheets/detail_menu.css" />


</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg  border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../catering">
                <img src="../../images/logo-rsi.png" alt="Logo" class="d-inline-block align-text-top"
                    style="height: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        
                    </li>

                </ul>
                <div class="d-flex align-items-center">
                    <a class="link-offset-2 link-underline link-underline-opacity-0 me-3" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                            <path fill="#4E88AC"
                                d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" />
                        </svg>
                    </a>
                    <!-- Dropdown setelah login -->
                    <div class="dropdown ms-2">
                        <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center"
                            type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/users/<%= data2[0].gambar_users %>" alt="User Profile"
                                class="rounded-circle me-2" width="40" height="40">
                            <%= data2[0].nama_panggilan_users %>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="../../catering/profil">Profil Saya</a></li>
                            <li><a class="dropdown-item" href="../../catering/pesanan">Pesanan Saya</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="../logout">Keluar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navbar -->

    <div class="container-fluid-latar p-3">

        <div class="container product-detail bg-white border rounded ">
            <!-- Judul Halaman -->
            <div class="detail-title">
                <a class="link-offset-2 link-underline link-underline-opacity-0 me-3" href="../../catering">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="#fff" d="M11.884 6.116a1.25 1.25 0 0 0-1.768 0l-5 5a1.25 1.25 0 0 0 0 1.768l5 5a1.25 1.25 0 0 0 1.768-1.768L9.018 13.25H18a1.25 1.25 0 1 0 0-2.5H9.018l2.866-2.866a1.25 1.25 0 0 0 0-1.768"/></svg>
                </a>
                <h5><b>Detail Produk</b></h5>
            </div>
            

            <!-- Konten Produk -->
            <div class="row mt-5 mb-5">
                <!-- Kolom Kiri (Gambar Produk) -->
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="../../images/menu/<%= data.gambar_menu %>" alt="Produk" class="product-image">
                </div>

                <!-- Garis Vertikal Pemisah -->
                <div class="col-md-1 d-flex align-items-center justify-content-center">
                    <div class="vertical-line"></div>
                </div>

                <!-- Kolom Kanan (Detail Produk) -->
                <div class="col-md-5">
                    <h5><%= data.nama_menu %></h5>
                    <small class="text-muted">Terjual 269 Produk</small>
                    <p>
                        <small>
                            <%= data.deskripsi_menu %>
                        </small>
                    </p>

                    <!-- Harga Produk -->
                    <p class="price" id="harga"><%= data.harga_menu %></p>

                    <form action="/menu/pesan/<%= data.id_menu %>" method="POST" style="display: inline-block;">

                        <% if(data.nama_kategori=="makanan"){ %>
                        <!-- Opsi Pedas -->
                        <div class="mb-3">
                            <span class="me-2"><small>Tipe: </small></span>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="radio" class="btn-check" name="kategori_pesanan" id="pedas" value="pedas"
                                    checked>
                                <label class="btn btn-outline-success" for="pedas">Pedas</label>

                                <input type="radio" class="btn-check" name="kategori_pesanan" id="tidak-pedas"
                                    value="tidak pedas">
                                <label class="btn btn-outline-success" for="tidak-pedas">Tidak Pedas</label>
                            </div>
                        </div>
                        <% } %>

                        <% if(data.nama_kategori=="minuman"){ %>
                        <!-- Opsi Minuman -->
                        <div class="mb-3">
                            <span class="me-2"><small>Tipe: </small></span>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="radio" class="btn-check" name="kategori_pesanan" id="dingin" value="dingin"
                                    checked>
                                <label class="btn btn-outline-success" for="dingin">Dingin</label>

                                <input type="radio" class="btn-check" name="kategori_pesanan" id="normal"
                                    value="normal">
                                <label class="btn btn-outline-success" for="normal">Normal</label>

                                <input type="radio" class="btn-check" name="kategori_pesanan" id="hangat"
                                    value="hangat">
                                <label class="btn btn-outline-success" for="hangat">Hangat</label>
                            </div>
                        </div>
                        <% } %>

                        <!-- Kuantitas -->
                        <div class="mb-3">
                            <label for="quantity" class="form-label"><small>Jumlah :</small></label>
                            <div class="input-group  input-group-sm">
                                <button class="btn btn-outline-secondary btn-sm" type="button"
                                    id="button-minus">-</button>
                                <input type="text" class="form-control text-center" name="jumlah" id="quantity"
                                    value="1" style="max-width: 50px;">
                                <button class="btn btn-outline-secondary btn-sm" type="button"
                                    id="button-plus">+</button>
                            </div>
                        </div>
                        <!-- Tombol Beli & Tambah Keranjang -->
                        <div class="d-grid gap-2 d-md-block">

                            <button type="submit" class="btn btn-primary">Tambah Keranjang</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- PRODUK TERBARU -->
<div class="container-produk border bg-white mt-5 rounded-3 py-4 px-4">
    <h5 class="mb-4"><b>PRODUK TERBARU</b></h5>
    <div id="topProductsCarousel" class="carousel slide px-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <% for (let i = 0; i < produkTerbaru.length; i++) { %>
                        <div class="col-md-2">
                            <div class="card-produk rounded-3">
                                <img src="../../images/menu/<%= produkTerbaru[i].gambar_menu %>" class="card-img-top" alt="<%= produkTerbaru[i].nama_menu %>" style="width: 10rem; height: 10rem;">
                                <div class="card-body-produk">
                                    <h5 class="card-title"><%= produkTerbaru[i].nama_menu %></h5>
                                    <p class="card-price">Rp. <%= produkTerbaru[i].harga_menu %></p>
                                    <p class="card-sold">Baru ditambahkan</p>
                                </div>
                                <a href="../menu/detail/<%= produkTerbaru[i].id_menu %>" class="btn-pesan">Pesan</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- Controls -->
    </div>
</div>
    </div>

<!-- funcion category -->
<script>
    function filterMenu(category) {
        // Ambil semua kartu menu
        const cards = document.querySelectorAll('.card-kategori');

        // Jika 'all' dipilih, tampilkan semua kartu
        if (category === 'all') {
            cards.forEach(card => {
                card.classList.remove('hidden');
            });
        } else {
            // Jika kategori tertentu dipilih, sembunyikan semua kecuali kategori yang dipilih
            cards.forEach(card => {
                if (card.classList.contains(category)) {
                    card.classList.remove('hidden');
                } else {
                    card.classList.add('hidden');
                }
            });
        }

        // Ubah warna button yang aktif
        const buttons = document.querySelectorAll('.nav-category button');
        buttons.forEach(button => {
            if (button.innerText.toLowerCase() === category || (category === 'all' && button.innerText.toLowerCase() === 'semua')) {
                button.classList.remove('btn-outline-primary');
                button.classList.add('btn-primary');
            } else {
                button.classList.remove('btn-primary');
                button.classList.add('btn-outline-primary');
            }
        });
    }
</script>








    <script>
        // Script to handle quantity increment and decrement
        document.getElementById('button-plus').addEventListener('click', function () {
            let quantity = document.getElementById('quantity');
            let value = parseInt(quantity.value);
            quantity.value = value + 1;
        });

        document.getElementById('button-minus').addEventListener('click', function () {
            let quantity = document.getElementById('quantity');
            let value = parseInt(quantity.value);
            if (value > 1) {
                quantity.value = value - 1;
            }
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var hargaElement = document.getElementById("harga");
            var hargaValue = parseInt(hargaElement
            .innerText); // Mengambil nilai dan mengubahnya menjadi integer

            // Fungsi untuk memformat angka ke dalam bentuk Rupiah tanpa ,00
            function formatRupiah(angka) {
                return new Intl.NumberFormat('id-ID', {
                    style: 'currency',
                    currency: 'IDR',
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0
                }).format(angka);
            }

            // Memformat nilai dan mengubah teks elemen menjadi format Rupiah
            hargaElement.innerText = formatRupiah(hargaValue);
        });
    </script>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="../../js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="../../js/script.js"></script>
    </div>
</body>

</html>