<%- include('../partials/__head.ejs') %>
<body>
<div class="container-scroller">
    <%- include('../partials/__nav.ejs') %>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Pesanan</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama User</th>
                                                <th>Alamat</th>
                                                <th>Total Harga</th>
                                                <th>Jumlah Pesanan</th>
                                                <th>Status Pesanan</th>
                                                <th colspan="2">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i = 0; i < data.length; i++) { %>
                                            <tr>
                                                <th scope="row"><%= (i + 1) %></th>
                                                <td><%= data[i].nama_users %></td>
                                                <td><%= data[i].nama_alamat %></td>
                                                <td><%= data[i].total_harga %></td>
                                                <td><%= data[i].total_pesanan %></td>
                                                <td><%= data[i].status_pemesanan %></td>
                                                <td>
                                                    <a href="/pembayaran/detail/<%= data[i].id_users %>/<%= data[i].id_checkout %>" 
                                                       class="btn btn-sm btn-warning">Isi Pesanan</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/__foot.ejs') %>
</body>
